<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raj.testst" >

    <uses-permission android:name="android.permission.INTERNET" />
.
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/draw"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartUp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Packing"
            android:label="@string/title_activity_packing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Cloth"
            android:label="Cloth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".MyCart" >
        </activity>
        <activity
            android:name=".Marker"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EmptyActivity"
            android:label="@string/title_activity_empty" >
        </activity>
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account" >
        </activity>
        <activity
            android:name=".OrderHistory"
            android:label="@string/title_activity_order_history" >
        </activity>
        <activity
            android:name=".OrderHistoy"
            android:label="@string/title_activity_order_histoy" >
        </activity>
    </application>

</manifest>
